<h1>Página del home</h1>

{{#each products}}
    <div>Nombre del producto: {{this.title}}</div>
{{/each}}

<script src = '/socket.io/socket.io.js' charset = 'utf-8'></script>
<script src = '../public/index.js' charset = 'utf-8'></script>